---
layout: base
---
<div class="wrapper">
  <header>
    {% if site.compass.logo %}
    <div class="logo-container">
      <a class="logo" href="{{ page.baseurl }}"
        style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
    </div>
    {% endif %}

    {% if site.compass.author %}
    <div class="author-container">
      <h1>{{ site.compass.author }}</h1>
    </div>
    {% endif %}

    {% if site.compass.tagline %}
    <div class="tagline-container">
      <p>{{ site.compass.tagline }}</p>
    </div>
    {% endif %}
  </header>

  <main>
    {% if site.compass.include_content %}
    <div class="content">
      {% include nav.html%}
      <h2 id="mentors-title">Spring 2020 Mentors coming soon...</h2>
      <h3>Sign up <a href="https://forms.gle/zYCPfVaxzhiqZ8Rx9">here</a>!</h3>
    </div>
    {% endif %}
  </main>

  {% comment %}
  <div class="centered-content">
    {% include mentors.html %}
    {% include socials.html%}
  </div>
  {% endcomment %}
</div>