---
layout: base
---
<div class="wrapper">
  <header>
    {% if site.compass.logo %}
    <div class="logo-container">
      <a class="logo" href="{{ page.baseurl }}"
        style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
    </div>
    {% endif %}

    {% if site.compass.author %}
    <div class="author-container">
      <h1>{{ site.compass.author }}</h1>
    </div>
    {% endif %}

    {% if site.compass.tagline %}
    <div class="tagline-container">
      <p>{{ site.compass.tagline }}</p>
    </div>
    {% endif %}
  </header>

  <main>
    {% if site.compass.include_content %}
    <div class="content">
      {% include nav.html%}
      <h4 id="mentors-title">Come back in Fall 2020 for the next round of mentors!</h4>
      <p id="mentors-details">Need help in the meantime? Feel free to reach out to these spring mentors over
        the
        summer.
      </p>
    </div>
    {% endif %}
  </main>

  <div class=" centered-content">
    {% include mentors-template.html people="current" %}
    <a class="prev-button" href="./past"> &lt; Previous Mentors</a>

    {% include socials.html %}
  </div>
</div>