<h2>Welcome!</h2>
<p>
  Northeastern's Computer Science Mentoring Organization serves
  to better connect Northeastern students who are interested in Computer Science.

  <br><br>

  This club is open to all. No prior CS experience required! <br><br>



  Our regular Spring 2020 meeting time is<br>
  <span><strong>Wednesday night from 7:15-8:15 at Curry 344</strong>.<br><br></span>
  Check our social media for details on upcoming events!

  <p>
    Spring 2020 sign-ups are live! Please fill out our <a href="https://forms.gle/zYCPfVaxzhiqZ8Rx9">INTEREST FORM</a>
    to participate in CoSMO.
  </p>

  </ul>