<h2>Welcome!</h2>
<p>
  Northeastern's Computer Science Mentoring Organization serves
  to better connect Northeastern students who are interested in computer science.

  <br><br>

  We run a mentorship program every semester where undergraduates who are interested in
  computer science can get the help they need with classes, co-ops, and more.

  <br><br>

  We also feature weekly workshops and panels with guest speakers who share their expertise
  on topics across computer science.

  <br><br>

  CoSMO is open to all. No prior CS experience required!

  <br><br>
</p>

<hr />

<h2>News</h2>
<p>
  Thanks for a great Spring semester!
  Registrations for the mentorship program will be open again in Fall 2020!

  <!-- Our regular Spring 2020 meeting time is<br>
    <span><strong>Wednesday night from 7:15-8:15 at Curry 344</strong>.<br><br></span>
    Check our social media for details on upcoming events! -->


  <!-- Spring 2020 sign-ups are live! Please fill out our <a href="https://forms.gle/zYCPfVaxzhiqZ8Rx9">INTEREST FORM</a>
      to participate in CoSMO. -->
</p>