{% assign eboard  = site.data.eboard[{{include.people}}] %}

{% for person in eboard %}
<div class="eboardMember">
    {% if person.img %}
    <img class="headshot" src="{{site.url}}/images/people/{{person.img}}">
    {% else %}
    <img class="headshot" src="{{site.url}}/images/cosmo_astro.png">

    {% endif %}
    {% if person.link %}
    <a style="text-align: top;color:#fff" href="{{person.link}}">
        <strong>{{person.name}}</strong> <br><em>{{person.title}}</em>
    </a>
    {% else %}
    <strong>{{person.name}}</strong> <br><em>{{person.title}}</em>
    {% endif %}
</div>
<br>
{% endfor %}