<div class="mentorGridContainer">
    {% for person in site.data.mentors %}
    <div class="mentor">
        <!-- Name -->
        {% if person.link %}
        <a style="text-align: top;color:#fff" href="{{person.link}}">
            <span class="person-name">{{person.name}}</span>
        </a>
        {% else %}
        <span class="person-name">{{person.name}}</span>
        {% endif %}
        <br>
        <span class="person-major">{{person.major}}</span>
        <br><br>
        <!-- Stats -->
        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;{{person.huskyemail}} <br>
        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{person.year}}
        <br><br>

        <!-- Skills -->
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;&nbsp;<b>Skills</b><br>
        {% for skill in person.skills %}
        - {{skill}}<br>
        {% endfor %}
        <br>
        <!-- Co-ops -->
        <i class="fa  fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;<b>Work Experience</b><br>
        {% for coop in person.coops %}
        - {{coop}}<br>
        {% endfor %}

        <!-- Abroad -->
        {% if person.abroad %}
        <br>
        {% for abroad in person.abroad %}
        <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;<b>Global Experience</b><br>
        - {{abroad}}
        {% endfor %}
        {% endif %}

    </div>
    {% endfor %}
</div>

<br><br><br>
<!-- <em>...complete <a href="https://forms.gle/zYCPfVaxzhiqZ8Rx9">this form</a> to be added as a mentor!</em> -->
<br><br>