<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
        <a href="https://www.facebook.com/nuCoSMO/">Facebook</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/northeastern-cosmo">GitHub</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
        <a href="http://eepurl.com/dJ4PUY">Join our Mailing List</a>
    </li>
    <br><br>